<p>tasks will be a todo list app page</p>
<div class="container">
  <h2>Set New Task</h2>

  <form #form="ngForm">
    <!-- 
      for links the label to the input element
      clicking on the label gives focus to inputs
    -->
    <div class="form-group" >
      <label for="task">Task</label>
      <input
        id="task"
        name="task" 
        class="form-control"
        placeholder='Task'
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="taskText">Example textarea</label>
      <textarea 
        id="taskText" 
        name="taskText" 
        class="form-control" 
        placeholder="More info"
        rows="3" 
        ngModel  
      ></textarea>
    </div>

    <div class="form-check form-group">
      <input 
        class="form-check-input" 
        id="priority" 
        name="priority"
        type="checkbox" 
        value="" 
        ngModel
      >
      <label class="form-check-label" for="priority">
        Priority
      </label>
    </div>

    <div class="form-group">
      <label for="selectSomething">Example select</label>
      <select  
        id="selectSomething"
        name="selectSomething"
        class="form-control"
        id="priority" 
        ngModel
      >
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <button class="btn btn-primary">Create</button>
    </form>
</div>

<!-- Using custom pipe -->
{{form.value | log}}

<!-- Using json filter to convert JS object -->
{{form.value | json}}
