<p>tasks will be a todo list app page</p>
<div class="container">
  <h2>Set New Task</h2>

  <form #form="ngForm" ngNativeValidate>
    <!-- 
      for links the label to the input element
      clicking on the label gives focus to inputs
    -->
    <div class="form-group" >
      <label for="task">Task</label>
      <input
        id="task"
        name="task" 
        class="form-control"
        placeholder='Task'
        [(ngModel)]="copiedDefaultData.task" 
        required
        #classTest
        #propertyTest="ngModel"
        #nameField="ngModel"
      />
      <div 
        [hidden]="nameField.valid || nameField.untouched"  
        class="alert alert-danger"
      >
        Error message!
      </div>
    </div>

    <div class="validations">
    <h4>Validation classes and properties</h4>
      <!-- debugging info on validation classes -->
      <h5>Classes: {{classTest.className}}</h5>
      <!-- debugging info on validation properties -->
      <h5>dirty: {{propertyTest.dirty}}</h5>
    </div>
    


    <div class="form-group">
      <label for="taskText">Example textarea</label>
      <textarea 
        id="taskText" 
        name="taskText" 
        class="form-control" 
        placeholder="More info"
        rows="3" 
        [(ngModel)]="copiedDefaultData.taskText"   
      ></textarea>
    </div>

    <div class="form-check form-group">
      <input 
        class="form-check-input" 
        id="priority" 
        name="priority"
        type="checkbox" 
        value="" 
        [(ngModel)]="copiedDefaultData.priority"   

      >
      <label class="form-check-label" for="priority">
        Priority
      </label>
    </div>

    <div class="form-group">
      <label for="selectSomething">Example select</label>
      <select  
        id="selectSomething"
        name="selectSomething"
        class="form-control"
        id="priority" 
        [(ngModel)]="copiedDefaultData.selectSomething"   

      >
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <button class="btn btn-primary">Create</button>
    </form>
</div>

<!-- Using custom pipe -->
{{form.value | log}}

<!-- Using json filter to convert JS object -->
{{form.value | json}}


<!-- 
  Once we created the interface DefaultData, see the values from copiedDefaultData variable
  using two-way data binding
  [(ngModel)]="variable.name"
-->
{{copiedDefaultData.task }}

<!-- Working on a shallow copied obj, use Lodash for deep copy -->
{{defaultData.task}}