.validations {
  border: 1px solid black;
  margin: 1em;
}

/* .ng-invalid:not(form).ng-touched {
  border: 1px solid red;
} */

.field-error {
  border: 1px solid red;
}

/* 
class listToDo
todo.completed ? 'done' : ''
class indexClass includes task to strike
*/
.listToDo.done .indexClass {
  text-decoration: line-through;
}
